In [1]:
from keras.losses import categorical_crossentropy, sparse_categorical_crossentropy
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import Conv2D
from keras.layers import MaxPooling2D, Flatten, Dropout
from keras.utils import to_categorical
import pandas as pd
import talib
from datetime import datetime as dt
import numpy as np
import util

Using TensorFlow backend.

In [2]:
data_df, target_class = util.get_data(type = 'class')

type = classification

In [3]:
data_df

,open,high,low,close,volume,sma_5,sma_10,ema_20,mtm6_mtm12,fastk,...,roc_10,bband_upper,bband_middle,bband_lower,macd,macdsignal,macdhist,adosc,cci_14,atr_14
date,,,,,,,,,,,,,,,,,,,,,
2009-11-13,1107.00,1120.95,1096.00,1108.65,162748.0,1107.48,1078.780,1037.040428,0.758821,0.000000,...,9.097619,1132.514824,1107.48,1082.445176,51.542123,44.986421,6.555701,82120.478264,85.592224,41.284589
2009-11-16,1110.00,1124.60,1080.50,1102.35,711035.0,1107.98,1087.875,1043.260388,0.770677,0.000000,...,8.992486,1132.479437,1107.98,1083.480563,50.400971,46.069331,4.331640,66997.143935,68.922981,41.485690
2009-11-17,1109.90,1119.80,1095.05,1110.75,511877.0,1111.88,1095.500,1049.687970,0.731145,14.514965,...,7.370710,1129.813388,1111.88,1093.946612,49.602622,46.775989,2.826632,98480.693987,71.206147,40.290283
2009-11-18,1110.75,1124.90,1103.05,1107.65,319970.0,1107.63,1099.815,1055.208163,0.731853,5.884116,...,4.053546,1113.280345,1107.63,1101.979655,48.164569,47.053705,1.110863,43465.695631,69.428519,38.973120
2009-11-19,1106.00,1107.65,1082.30,1098.90,365055.0,1105.66,1102.630,1059.369290,0.671755,0.000000,...,2.628998,1114.398970,1105.66,1096.921030,45.790999,46.801164,-1.010165,52976.883737,26.546429,38.000040
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-10-04,2687.00,2699.00,2611.35,2617.70,444204.0,2683.45,2735.575,2700.775656,-1.560784,0.000000,...,-4.203034,2758.245855,2683.45,2608.654145,15.981508,35.519701,-19.538192,-26556.334109,-175.952379,69.393663
2019-10-07,2630.00,2645.00,2576.25,2616.45,519253.0,2660.58,2713.440,2692.744641,-34.484211,0.000000,...,-7.800056,2733.380099,2660.58,2587.779901,7.577029,29.931166,-22.354137,-38536.305805,-168.733980,69.347687
2019-10-09,2624.75,2676.00,2600.30,2663.40,466444.0,2652.81,2703.055,2689.949913,-2.100719,80.847685,...,-3.752823,2713.436839,2652.81,2592.183161,4.651275,24.875188,-20.223913,59074.115705,-96.414502,69.801423
2019-10-10,2626.15,2666.90,2612.05,2633.50,288141.0,2641.64,2687.880,2684.573731,-1.786486,48.776136,...,-5.448344,2690.698145,2641.64,2592.581855,-0.079174,19.884316,-19.963490,73660.971953,-90.810327,68.733465
2019-10-11,2645.00,2659.00,2607.00,2651.40,546907.0,2636.49,2675.685,2681.414328,-0.942443,86.140306,...,-4.397209,2673.477155,2636.49,2599.502845,-2.356544,15.436144,-17.792688,196081.558353,-75.589192,67.538217

In [4]:
dataset = util.normalise_data(data_df)

In [5]:
TRAIN_SPLIT = round(0.8 * len(data_df))
past_history = 21
future_target = 1
STEP = 1
X_train, y_train = util.multivariate_data(dataset, target_class, 0, TRAIN_SPLIT, past_history, future_target, STEP, single_step=True)
X_test, y_test = util.multivariate_data(dataset, target_class, TRAIN_SPLIT, None, past_history, future_target, STEP, single_step=True)
X_train = X_train.reshape(X_train.shape[0],21,21,1)
X_test = X_test.reshape(X_test.shape[0],21,21,1)

NameError: name 'target_class' is not defined

In [ ]:
data_df

In [ ]:
model = Sequential()

In [ ]:
model.add(Conv2D(32, (3, 3), padding="same", activation="relu", input_shape=(21, 21,1)))
model.add(Conv2D(64, (3, 3), padding="same", activation="relu"))
model.add(MaxPooling2D(pool_size =(2, 2)))
model.add(Flatten())
model.add(Dropout(0.25))
model.add(Dense(units = 128, activation = "relu"))
model.add(Dropout(0.5))
model.add(Dense(units = 64, activation = "relu"))
model.add(Dense(units=1, activation='sigmoid'))

In [ ]:
model.compile(loss = "binary_crossentropy", optimizer="adam", metrics = ["accuracy"])

In [ ]:
BATCH_SIZE = 32
EPOCHS = 100

model.fit(X_train, y_train,
          batch_size=BATCH_SIZE,
          epochs=EPOCHS,
          verbose=1,
          validation_data=(X_test, y_test))

In [ ]:
import matplotlib.pyplot as plt
plt.figure(figsize=(10,10))
plt.plot(model.predict(X_test), color = 'r')
plt.grid()
plt.plot(y_test)

In [ ]:
plt.plot(y_test)

In [ ]:
X_test = X_test.reshape(X_test.shape[0],21,21,1).shape

In [ ]:
data_df["temp"] = np.append([np.nan], data_df['close'][:-1],)
data_df = data_df.dropna()

In [ ]:
data_df['close']

In [ ]:
data_df['temp']

In [ ]:
data_df["target"] = target

In [ ]:
data_df["target"]

In [ ]:
# for x,y in data_df["close"],data_df["temp"]:
#     if x < y : 
#         data_df["class"] = 1
#     else :
#         data_df['class'] = 

# if data_df["close"] < data_df["temp"]:
#     data["class"] = 1
# else : 
#     data["class"] = 0
    
data_df['class'] = [1 if x < y else 0 for x,y in data_df['close'], data_df['target']]

In [ ]:
data_df['class']

In [ ]:
data_df['close']

In [ ]:
target

In [ ]:
data_df.head()

In [ ]:
data_df["prev"] = np.append([np.nan], data_df['close'][:-1],)
data_df = data_df.dropna()
data_df['class'] = np.where((data_df['prev'] < data_df['close']),1,0)

data_df.drop('prev',axis = 1, inplace = True)

In [ ]:
data_df['class']

In [ ]:
target_class.shape

In [ ]:
data_df.head()

In [ ]:
target_class